@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&display=swap");

:root {
  --color-iris: #a41695;
  --color-goldenrod: #ffd600;
  --color-navy: #060386;
  --color-greenery: #6ab03f;
  --color-ruby: #e8303b;
  --color-aqua: #5cddd5;
  --color-blacker: #000;
}

.index-header {
  /* color: var(--color-iris); */
  /* text-decoration: underline;
  text-decoration-color: var(--color-goldenrod);
  text-decoration-thickness: 4px; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  padding: 8px;
  gap: 12px;
  font-family: "Merriweather";
}

@media (width <= 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.svg-image {
  height: 20px;
  margin-left: 20px;
}

.svg-image-2 {
  height: 60px;
  margin-right: 10px;
}

.grid-item-tall {
  grid-row: 1 / 3;
}

h1,
h2 {
  font-style: italic;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.grid-item {
  padding: 8px;
}

body {
  background: #fafafa;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
