@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&display=swap");

:root {
  --color-iris: #a41695;
  --color-goldenrod: #ffd600;
  --color-navy: #060386;
  --color-greenery: #6ab03f;
  --color-ruby: #e8303b;
  --color-aqua: #5cddd5;
  --color-black: #333;
  --color-blacker: #000;
  --color-psychokiller: #fafafa;
  --color-white: #fff;

  /* floral summer */
  --color-lava: #fd7b35;
  --color-fire: #ed5402;
  --color-lisbon: #f3b53e;
  --color-brick: #983601;
  --color-olive: #5c6804;
  --color-leaf: #8ca001;
  --color-summer-grass: #d4c40c;
  --color-summer-black: #0c092d;
  --color-sand: #fad49e;
  --color-pale-skin: #ffe4bd;

  --color-header: var(--color-black);
  --color-body: var(--color-black);
  --color-bg: var(--color-psychokiller);
  --color-link: var(--color-navy);
  --color-link-visited: var(--color-link);
}

.index-header {
  /* color: var(--color-iris); */
  /* text-decoration: underline;
  text-decoration-color: var(--color-goldenrod);
  text-decoration-thickness: 4px; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  padding: 8px;
  gap: 12px;
  font-family: "Merriweather";
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.svg-image {
  height: 20px;
  margin-left: 20px;
}

.svg-image-2 {
  height: 60px;
  margin-right: 10px;
}

.grid-item-tall {
  grid-row: 1 / 3;
}

h1,
h2 {
  font-style: italic;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.grid-item {
  padding: 8px;
}

body {
  background: var(--color-bg);
  color: var(--color-body);
}

body h1,
body h2,
body h3 {
  color: var(--color-header);
}

a,
a:active {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
