{{ partial "header.html" . }}

<div class="grid-container">
  <div class="grid-item">
    <h1 class="index-header">Index</h1>
    {{ .Content }}
    <p>[A moth hoping to love something other than light]</p>
    <p>
      <img class="svg-image-2" src="/img/hollow_flag.svg" />
      <img class="svg-image-2" src="/img/addition.svg" />
      <img
        class="svg-image-2"
        style="height: 80px; position: relative; top: 10px; margin-left: -5px"
        src="/img/orbit.svg"
      />
    </p>
  </div>
  {{ range.Data.Pages }}
  <article class="post-snippet grid-item">
    <h2>{{ .Title}}</h2>
    <ul>
      {{ range.Pages.ByDate }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{end}}
    </ul>
  </article>
  {{ end }} {{/*
  <div class="grid-item">
    <h2>Photography</h2>
    <p>
      <a href="https://twitter.com/empathy2000">Link</a>
    </p>
  </div>
  */}}
  <div class="grid-item">
    <h2>Twitter</h2>
    <p>
      <a href="https://twitter.com/empathy2000">Link</a>
    </p>
    <h2>Photography</h2>
    <p>
      <a href="https://twitter.com/empathy2000">Link</a>
    </p>
  </div>

  <div class="grid-item">
    <img
      src="/img/flowers.png"
      style="width: 100%; height: auto; opacity: 0.1; filter: grayscale(100%)"
    />
  </div>
  <div
    class="grid-item"
    style="
      font-family: Arial, Helvetica, sans-serif;
      font-style: none;
      border: 1px solid black;
      font-size: 12px;
      text-align: justify;
      text-transform: uppercase;
      padding: 8px;
      margin: 0;
    "
  >
    <p>
      You assume all responsibility and risk for the use of the resources
      available on or through this web page. The website author does not assume
      any liability for the materials, information and opinions provided on, or
      available through, this web page. No advice or information given by the
      author shall create any warranty. Reliance on such advice, information or
      the content of this web page is solely at your own risk, including without
      limitation any safety guidelines, resources or precautions related to the
      installation, operation, maintenance or repair of related equipment or any
      other information related to safety that may be available on or through
      this web page. The website author disclaims any liability for injury,
      death or damages resulting from the use thereof.
    </p>
  </div>
  <div class="grid-item">
    <h2>Screaming pit</h2>
    <p>say something beautiful and true.</p>
    <textarea id="pit" style="width: 100%; height: 100px"></textarea>
    <button onclick="intoThePit()" style="width: 100%">into the pit</button>
  </div>
</div>

{{ partial "footer.html" . }}
