<!---

    import ice1 from "../../public/img/iceland/1.jpg";
import ice2 from "../../public/img/iceland/2.jpg";
import ice3 from "../../public/img/iceland/3.jpg";
import ice4 from "../../public/img/iceland/4.jpg";
import ice5 from "../../public/img/iceland/5.jpg";
import ice6 from "../../public/img/iceland/6.jpg";
import ice7 from "../../public/img/iceland/7.jpg";
import ice8 from "../../public/img/iceland/8.jpg";
import ice9 from "../../public/img/iceland/9.jpg";
import ice10 from "../../public/img/iceland/10.jpg";
import ice11 from "../../public/img/iceland/11.jpg";
import ice12 from "../../public/img/iceland/12.jpg";
import ice13 from "../../public/img/iceland/13.jpg";
import ice14 from "../../public/img/iceland/14.jpg";
import ice15 from "../../public/img/iceland/15.jpg";
import ice16 from "../../public/img/iceland/16.jpg";
import styles from "../../styles/PhotoLayout.module.scss";
export default ({ children }) => <Layout>{children}</Layout>;

- _some kind of memory being made, long after_

<Image src={ice1} placeholder="blur" quality={95} />
<Image src={ice2} placeholder="blur" quality={95} />
<Image src={ice3} placeholder="blur" quality={95} />
<Image src={ice4} placeholder="blur" quality={95} />
<Image src={ice5} placeholder="blur" quality={95} />
<Image src={ice6} placeholder="blur" quality={95} />
<Image src={ice7} placeholder="blur" quality={95} />
<Image src={ice8} placeholder="blur" quality={95} />
<Image src={ice9} placeholder="blur" quality={95} />
<Image src={ice10} placeholder="blur" quality={95} />
<Image src={ice11} placeholder="blur" quality={95} />
<Image src={ice12} placeholder="blur" quality={95} />
<Image src={ice13} placeholder="blur" quality={95} />
<Image src={ice14} placeholder="blur" quality={95} />
<Image src={ice15} placeholder="blur" quality={95} />
<Image src={ice16} placeholder="blur" quality={95} />
<Image src={img6} placeholder="blur" quality={95} />

- _in his hand a densely engraved bronze trinket_
- _dogs singing_
- _a secret: he has a deep fear of the ocean_
- _a garden you cannot tell is a garden_
- _to be given something that you may wrap in cloth_

-->

<div>test</div>
